* {
  text-align: center;
  font-family: sans-serif;
  background-color: #f5f5dc;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#gordon-ramsay {
  width: 22%;
  height: auto;
}

img {
  display: block;
  margin: 50px auto;
  border-radius: 20px;
  border: 2px solid black;
}

h1 {
  margin: 50px auto;
}
p {
  margin: 50px 400px;
}

ul,
ol {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.remove-space {
  margin: 2px;
}

.button {
  background-color: #dcdcf5;
  color: black;
  border-radius: 12px;
  border: 2px solid black;
  width: 200px;
  height: 25px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.button:hover {
  background-color: #dcdcf5;
  border: 2px solid white;
  color: white;
}

.footer a {
  color: #6795f1;
  text-decoration: none;
  transition-duration: 0.4s;
}
.footer a:hover {
  color: #1064eb;
  text-decoration: none;
}

.footerText {
  margin: 10px auto 0px auto;
}
