* {
  text-align: center;
  font-family: sans-serif;
}

#gordon-ramsay {
  width: 22%;
  height: auto;
}

img {
  display: block;
  margin: 50px auto;
  border-radius: 20px;
}

h1 {
  margin: 50px auto;
}
p {
  margin: 50px 400px;
}

ul,
ol {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.remove-space {
  margin: 2px;
}
